---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "Theo's Blog";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <p>
      Today, I'll show you how to use Astro to wirte a blog.

      <ul>
        <li>
          <a href="/posts/hello">Hello</a>
        </li>
      </ul>
    </p>
    <Footer />
    <script>
      import '../scripts/menu.js';
    </script>
  </body>
</html>
