---
import Social from "./Social.astro";
---

<footer>
  <p>
    Learn more about me :

    <Social url="https://www.github.com/gty20010709" platform="GitHub" />
    <Social url="https://thetheo.netlify.app" platform="Netlify" />
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
